.productcart img{
    width: 220px;
    height: 220px;
    
}

.productcart{
    width: 230px;
    padding: 20px 15px;
    display: flex; 
    justify-content: center;
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.184);
    border-radius: 15px;
    margin: 1vh 1vw;
}

.description{
    width: 220px;
    text-align: center;
}

.title{
    color:blue;
    font-weight: bold;
}

.price{
    color: #DB4444;
    font-weight: 900;
    font-size: 25px;
}

.staricon{
    color: orange;
}

.productcart:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.learn-more-button {
    margin-top: 12px;
    padding: 8px 16px;
    font-size: 1em;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.learn-more-button:hover {
    background-color: #0056b3;
}
